body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("https://prod-corporate-fe-assets.s3.amazonaws.com/uploads/2018/02/feature-image-designs-how-to-create-a-brand-style-guide-2.png");
  opacity: 0.55;
  /* Full height */
  height: 69.6%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




#timer{
  font-size: 890%;
  position: absolute;
   left: 3%;
   top: 0%;
   width: 50%;

}




.time{
  /* margin: 0%; */
  /* font-size: 150px;
  position: absolute;
   right: 0px;
   width: 70%; */

}

#startButton{
  background-color: #660066;
  width: 12%;
  height: 20%;
  font-size: 200%;
  position: absolute;
   right: 44%;
   border-radius: 50%;
   bottom: 55%;
   /* width: 70%; */

}
#toDoqueue{
    color: #660066;
    position: absolute;
    right: 10%;
    top: 6%;
    font-size: 150%;
}


#addTaskButton{
  background-color: rgba(0,0,0,0);
  color: #660066;
  width: 10%;
  height: 10%;
  font-size: 300%;
  position: absolute;
  right: 42%;
  bottom: 45%;
}
#pauseButton{
  background-color: rgba(0,0,0,0);
  color: #660066;
  width: 10%;
  height: 10%;
  font-size: 300%;
  position: absolute;
  left: 3%;
  bottom: 45%;
}
#resumeButton{
  background-color: rgba(0,0,0,0);
  color: #660066;
  width: 10%;
  height: 10%;
  font-size: 300%;
  position: absolute;
  left: 20%;
  bottom:45%;
}
#info{
  position: absolute;
  bottom: .5%;
  font-size: 180%
}

#title{
  font-size: 150%;
}

#shira{
  position: absolute;
  left: 40%;
  bottom: -90%;
  font-size: 150%;
}
#etta{
  position: absolute;
  left: 3%;
  bottom: -90%;
  font-size:  150%;

}
#shirapic{
  width: 20%;
  height: 20%;
  border-radius: 100%;
}
#ettapic{
  width: 12.5%;
  height: 12.5%;
  border-radius: 100%;
  /* DO YOU GET THIS */
}









/* below == the modal screen css stuff */




body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:#660566;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 20%;
  border-radius: 47%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* #addpadding{
  padding-top: 70px;
} */

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
